{% extends 'sightings/base.html' %}

{% load static %}

{% block title %}Stats of squirrels{% endblock %}

{% block main %}

    <style>
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

    </style>
    <div class="container-fluid">
    </div>


    <br>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Location</h4>
          </div>
          <div class="card-body">
          <img class="card-img-top" src="{% static 'sightings/location.jpeg' %}" alt="views">

            <ul class="list-unstyled mt-3 mb-4">
              <li>Checkout Squirrel Locations</li>
            </ul>
            <a type="button" href="{% url 'sightings-view:map' %}" class="btn btn-lg btn-block btn-outline-primary">Checkout</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Stats</h4>
          </div>
          <div class="card-body">
          <img class="card-img-top" src="{% static 'sightings/stats.png' %}" alt="stats">

            <ul class="list-unstyled mt-3 mb-4">
              <li>Checkout Squirrel Stats</li>
            </ul>
            <a type="button" href="{% url 'sightings-view:stats' %}" class="btn btn-lg btn-block btn-outline-secondary">Checkout</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sightings</h4>
          </div>
          <div class="card-body">
              <img class="card-img-top" src="{% static 'sightings/squirrel_01.jpeg' %}" alt="views">

{#            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>#}
            <ul class="list-unstyled mt-3 mb-4">
              <li>Checkout All Sightings</li>
            </ul>
            <a type="button" href="{% url 'sightings-view:sightings' %}" class="btn btn-lg btn-block btn-outline-success">Checkout</a>
          </div>
        </div>
      </div>

    </div>

{% endblock %}

