{% extends 'sightings/base.html' %}

{% load static %}

{% block title %}Stats of squirrels{% endblock %}



{% block main %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sighting Stats</li>
        </ol>
    </nav>

    Total
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="{{ total }}"
             aria-valuemin="0" aria-valuemax="{{ total }}"></div>
    </div>
    <br>
    Chasing VS NotChasing
    <div class="progress">
        <br>
        <br>
        <br>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ chasing_rate }}%"
             aria-valuenow="{{ chasing_rate }}" aria-valuemin="0" aria-valuemax="{{ total }}"></div>
    </div>
    <br>

    Climbing VS NotClimbing
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ climbing_rate }}%"
             aria-valuenow="{{ climbing_rate }}" aria-valuemin="0" aria-valuemax="{{ total }}"></div>
    </div>

    </div>

{% endblock %}

